.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#clock{
    padding: 10px;
    border-radius: 20px;
    background-color: aquamarine;
    width: inherit;
    font-family:'Courier New', Courier, monospace ;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
}