body{
    margin: 0 auto;
}
a{
    cursor: pointer;
}
.wrappers{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    padding: 0 165px;
}
.wrapper{
    width: 1440px;
    height: 866px;
    margin: 0 auto;
    padding: 0 0;
    background-size: cover;
    background: url(../Image/Background.svg);
}