.main1{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin: 0 auto;
    padding: 0 165px;
    padding-top: 96px;
    &-right{
        .phone{
            width: 350px;
            height: 640px;
        }
    }
    &-left{
        font-family: 'Inter';
        .title{
            margin-top: 72px;
            font-family: Inter, serif;
            font-style: normal;
            font-weight: 800;
            font-size: 72px;
            line-height: 98px;
            color: #18191F;
        }
        .button-getStart{
            color: white;
            padding: 12px 32px;
            background: #8C30F5;
            border-radius: 6px;
            text-decoration: none;
            margin: 32px 0px;
        }   
    }
}
