body{
    max-width: 1440px;
    margin: 0 auto;
}
.header-container{
    height: 70px;
    width: 100%;
    background-color: white;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 2px gray;
    margin-bottom: 30px;
}
ul{
    justify-content: space-between;
    align-items: center;
    display: flex;
    list-style: none;
}
li{
    width: 150px;
}
li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.2s linear;
}
li a:hover{
    color: darkorange;
}
.home{
    color: darkorange;
}
.header-logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.main{ 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px gray;
    margin: 0 auto;
    background-color: turquoise;
    width: 1000px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px 10px;
    padding: 10px;
    padding-bottom: 20px;
}
.main-image{
    overflow: hidden;
    
}
.image-item{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 90%;
}
.h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
@media screen and (max-width: 1035px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .header-container{
        height: 50px;
    }
    li{
        width: 100px;
    }
    li a{
        font-size: 15px;
    }
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-image{

    }
    .image-item{
        width: 500px;
        padding: 10px;
    }
}
    